# Virtual environment
venv/

# Environment variables
.env

# Database folders
db/
data/

# Python cache
__pycache__/
*.pyc

# Database files
*.db
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store