version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_retail
    restart: always

    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
      POSTGRES_DB: retail_db

    ports:
      - "5435:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    depends_on:
      - postgres

    #Email: admin@example.com
    #Password: admin1234

volumes:
  postgres_data:
